.container {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  border: #d9d9d9 1px solid;
}

.wrapper {
  max-width: 1045px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 92px;
  z-index: 1;
}

.link_container {
  z-index: 1;
}

.link {
  text-decoration: none;
  color: #222;
  cursor: pointer;

  &:last-child {
    margin-left: 60px;
  }

  &:hover {
    color: #b50938;
  }
}
